/* setup */
@font-face {
  font-family: 'antonregular';
  src: url("../fonts/anton-webfont.eot");
  src: url("../fonts/anton-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/anton-webfont.woff2") format("woff2"), url("../fonts/anton-webfont.woff") format("woff"), url("../fonts/anton-webfont.ttf") format("truetype"), url("../fonts/anton-webfont.svg#antonregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #FFF;
  margin: 0;
  padding: 0; }

.hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

/* Banner Styles */
.banner {
  position: relative;
  width: 728px;
  height: 90px;
  border: solid 1px;
  overflow: hidden;
  background-color: #FFF; }

#guide {
  position: absolute;
  top: 0;
  left: 0; }

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 147px;
  height: 94px;
  background: url(../img/footer.jpg) repeat-x; }

#legal1 {
  position: absolute;
  bottom: 10px;
  left: 14px;
  opacity: 0; }

#legal2 {
  position: absolute;
  bottom: 10px;
  left: 14px;
  opacity: 0; }

#logo_chromecast {
  position: absolute;
  bottom: 53px;
  right: 17px; }

#consideration_holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 11px;
  padding-left: 14px; }

#consideration_holder .lines {
  font-family: "antonregular";
  color: #666;
  font-size: 47px;
  line-height: 43px; }

#consideration_holder .lines.blue {
  color: #4285f4; }

#tv_animation {
  position: absolute;
  top: 0px;
  left: 0px; }

#tv_chromecast {
  position: absolute;
  top: 0;
  left: 0; }

#tv_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: 90px; }

#tv_screen_image {
  position: absolute;
  top: 4px;
  left: 34px;
  width: 140px;
  height: 78px;
  overflow: hidden;
  -webkit-perspective: 150px;
  /* Chrome, Safari, Opera  */
  perspective: 150px; }

.tv_img_2,
.tv_img_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0; }

.logo_1,
.logo_2,
.logo_3,
.logo_4,
.logo_5,
.logo_6,
.logo_7,
.logo_8,
.logo_9,
.logo_10,
.logo_11,
.logo_12,
.logo_13,
.logo_14 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  opacity: 0; }

.tv_white {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0; }

#mobile_hand {
  position: absolute;
  top: 82px;
  left: 163px; }

#mobile_mask {
  position: absolute;
  top: 32px;
  left: 53px;
  overflow: hidden;
  width: 44px;
  height: 27px; }

.mobile_hand {
  position: absolute; }

.mobile_screen {
  position: absolute; }

#icon_cast_holder {
  position: absolute;
  left: 254px;
  top: 87px; }

#icon_cast_holder .icon_cast {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -11.5px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 2px solid #2a86c7; }

#icon_cast_holder #icon_cast_glow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px; }

#hand {
  position: absolute;
  top: 69px;
  left: 216px; }

#installation_animation {
  position: absolute;
  top: 0;
  left: 0; }

#installation {
  position: absolute;
  top: 0;
  left: 0; }

#product_animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF; }

#product_animation #product {
  position: absolute;
  top: 7px;
  right: 164px; }

#product_animation #product_copy0 {
  position: relative;
  padding-top: 14px;
  padding-left: 14px;
  display: block; }

#product_animation #product_copy1 {
  position: relative;
  padding-top: 10px;
  padding-left: 14px; }

#button_cta {
  position: absolute;
  width: 120px;
  height: 26px;
  bottom: 14px;
  right: 12px; }

#button_cta #button_cta_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 26px; }

#button_cta #button_cta_background.out {
  background: url(../img/button_cta_background.png) no-repeat center; }

#button_cta #button_cta_background.over {
  background: url(../img/button_cta_background_over.png) no-repeat center; }

#button_cta #button_cta_copy {
  position: absolute;
  top: 0px;
  left: 0px; }

.banner_click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }
